CompileFlags:
  BuiltinHeaders: QueryDriver
  Remove:
    - "-m*"
    - "-fstrict-volatile-bitfields"
    - "-fno-tree-switch-conversion"
Diagnostics:
  Suppress: [pp_expects_filename, unused-includes]
---
If:
  PathMatch: .*\.ino
CompileFlags:
  Add:
    - "-x"
    - "c++"
    - "-include"
    - "Arduino.h"